.planes_section{
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;    
  background-color: #EDEDED;
  border-radius: 15px;
}

.planes_text{
  display: flex;
  flex-direction: column;
  width: 30%;
}

.planes_cards{
  display: flex;
  width: 70%;
  justify-content: space-evenly;
}

.plan{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F8B551;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 15px;
  cursor: pointer;
}

.plan:hover{
  
  background-color: #E8A94A;
}

.plan_image{
  background-color: white;
}

.planes_p{
  margin: 0%;
}

.planes_h3{
  margin: 0%;
  margin-left: 1em;
  margin-right: 1em;
}