.editSection{    
  background-color: rgba(237, 237, 237, 1);
  width: 50%;
  padding: 1rem;
  border: 0.1rem black solid;
  border-radius: 15px;
}

.editItems{
  max-width: 20rem;
}

.editItem{
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.editItem input{
  background-color: #FFCC81;
  border-radius: 15px;
}

.editButtons{
  display: flex;
  justify-content: space-around;
}

.editButtons button{
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 15px;
  border-color: unset;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.btnGuardar{
  background-color: rgba(150, 210, 149, 1);
}

.btnCancelar{
  background-color: rgba(223, 108, 108, 1);
}

.btnGuardar:hover{
  background-color: rgb(120, 167, 119);
}

.btnCancelar:hover{
  background-color: rgb(167, 79, 79);
}