.editSection{    
  background-color: #EDEDED;
  width: 50%;
  padding: 1rem;
  border-radius: 15px;
}

.editItems{
  max-width: 20rem;
}

.editItem{
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.editItem input{
  background-color: #FFCC81;
  border-radius: 15px;
}

.editButtons{
  display: flex;
  justify-content: space-around;
}

.editButtons button{
  padding: 0.5rem 2rem;
  border-radius: 15px;
  font-weight: bold;
  margin-top: 2rem;
}

.btnGuardar{
  background-color: #96D295;
}

.btnCancelar{
  background-color: #DF6C6C;
}