.confirmacion_Section{
  /* background-color: #000000; */
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0%;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmacion_Display{
  padding: 1rem;
  width: 50%;
  background-color: rgba(237, 237, 237, 1);
  position: absolute;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.infoPlan_section{
  width: 50%;
    border: black 0.1rem solid;
    border-radius: 1rem;
    padding: 1rem;
    margin: 2rem;
    background-color: rgba(237, 237, 237, 1);
    font-weight: bold;
}

.infoPlan_botones{
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.errorMessage{
  color: red;
}

.confirmacion_botones{
  margin-bottom: 1rem;
}