.confirmacion_Section{
  /* background-color: #000000; */
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0%;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmacion_Display{
  padding: 1rem;
  width: 50%;
  background-color: rgba(237, 237, 237, 1);
  position: absolute;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.infoPlan_section{
  width: 50%;
    border: black 0.1rem solid;
    border-radius: 1rem;
    padding: 1rem;
    margin: 2rem;
    background-color: rgba(237, 237, 237, 1);
    font-weight: bold;
}

.infoPlan_botones{
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.errorMessage{
  color: red;
}

.boton{
  font: inherit;
  cursor: pointer;
  background-color: rgba(122, 208, 198, 1);
  padding: 0.5rem 1.5rem;
  border-radius: 15px;
  border-color: unset;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.boton:hover{
  background-color: rgb(107, 177, 169);
}