.planes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.singlePlan{
  background-color: #F8B551;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: 45%;
  margin-top: 1rem;
  border-radius: 15px;
  cursor: pointer;
}

.singlePlan ul{
  padding: 0%;
}

.singlePlan li{
  list-style: none;
}

.singlePlan:hover{
  background-color: #E8A94A;
}

.plan_image{
  background-color: wheat;
  border-radius: 15px;
  margin-left: 1rem;
}

.plan_image img{
  width: 4rem;
  min-width: 4rem;
}