.reserva_Section{
  /* background-color: #000000; */
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0%;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reserva_Display{
  height: 70%;
  width: 50%;
  background-color: rgba(237, 237, 237, 1);
  position: absolute;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section_horarios{
  width: 50%;
  background-color: rgba(207, 207, 207, 1);
  border: 0.1rem black solid;
  border-radius: 1rem;
}

.horario_radio{
  margin-bottom: 0.5rem;
}

.boton{
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 15px;
  border-color: unset;
  font-weight: bold;
  margin-right: 2rem;
}