body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  background-image: url('../public/images/fondonaranja.png');
  -moz-osx-font-smoothing: grayscale;
  background-size: cover;
  background-position: 'center';
  background-Size: 'cover';
  background-Repeat: 'no-repeat'
}

.fondoCliente{
}

.fondoProfesor{

}

.fondoAdmin{

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
